@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-black: #000;
  --color-white: #fff;

  --color-gray-50: #F7F7F7;
  --color-gray-100: #F2F2F2;
  --color-gray-200: #EBEBEB;
  --color-gray-300: #E5E5E5;
  --color-gray-400: #DEDEDE;
  --color-gray-500: #D8D8D8;
  --color-gray-600: #B4B4B4;
  --color-gray-700: #909090;
  --color-gray-800: #6C6C6C;
  --color-gray-900: #484848;
  --color-gray-950: #2B2B2B;

  --color-primary-50: #F1F2FF;
  --color-primary-100: #E6E8FF;
  --color-primary-200: #D0D5FF;
  --color-primary-300: #ABB1FF;
  --color-primary-400: #7B7EFF;
  --color-primary-500: #4D46FF;
  --color-primary-600: #3421FF;
  --color-primary-700: #250FF2;
  --color-primary-800: #1E0CCB;
  --color-primary-900: #1B0CA6;
  --color-primary-950: #14087D;
  --color-primary-1000: #080355;

  --color-warning-50: #FFFAEB;
  --color-warning-100: #FEF0C7;
  --color-warning-200: #FEDF89;
  --color-warning-300: #FEC84B;
  --color-warning-400: #FDB022;
  --color-warning-500: #F79009;
  --color-warning-600: #DC6803;
  --color-warning-700: #B54708;
  --color-warning-800: #93370D;
  --color-warning-900: #7A2E0E;
  --color-warning-950: #6B2508;

  --color-danger-50: #FEE4E2;
  --color-danger-100: #FEE4E2;
  --color-danger-200: #FECDCA;
  --color-danger-300: #FDA29B;
  --color-danger-400: #F97066;
  --color-danger-500: #F04438;
  --color-danger-600: #D92D20;
  --color-danger-700: #B42318;
  --color-danger-800: #912018;
  --color-danger-900: #7A271A;
  --color-danger-950: #66180C;

  --color-success-50: #E5FFE8;
  --color-success-100: #CEFBD4;
  --color-success-200: #9EF7B3;
  --color-success-300: #6BE995;
  --color-success-400: #44D382;
  --color-success-500: #12B76A;
  --color-success-600: #0D9D68;
  --color-success-700: #098363;
  --color-success-800: #056A59;
  --color-success-900: #035752;
  --color-success-950: #034C48;

  --color-info-50: #E6FBFF;
  --color-info-100: #CDF8FF;
  --color-info-200: #9DEBFF;
  --color-info-300: #6CD8FF;
  --color-info-400: #48C5FF;
  --color-info-500: #0CA2FF;
  --color-info-600: #077EDA;
  --color-info-700: #065EB7;
  --color-info-800: #012F7A;
  --color-info-900: #022A6B;
  --color-info-950: #052B69;

  --color-orange-50: #FFFBED;
  --color-orange-100: #FFF7D4;
  --color-orange-200: #FFEBA8;
  --color-orange-300: #FFDA71;
  --color-orange-400: #FFBF38;
  --color-orange-500: #FDA712;
  --color-orange-600: #F79009;
  --color-orange-700: #C56A09;
  --color-orange-800: #9D530F;
  --color-orange-900: #7E4510;
  --color-orange-950: #442106;

  --color-purple-50: #EEEFFF;
  --color-purple-100: #E0E2FF;
  --color-purple-200: #C8C9FD;
  --color-purple-300: #A6A6FB;
  --color-purple-400: #8C82F7;
  --color-purple-500: #7761EF;
  --color-purple-600: #6C48E3;
  --color-purple-700: #5D3AC8;
  --color-purple-800: #4C31A2;
  --color-purple-900: #402F80;
  --color-purple-950: #261C4A;
}
