@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-black: #000;
  --color-white: #fff;

  --color-gray-50: #f7f7f7;
  --color-gray-100: #f2f2f2;
  --color-gray-200: #ebebeb;
  --color-gray-300: #e5e5e5;
  --color-gray-400: #dedede;
  --color-gray-500: #d8d8d8;
  --color-gray-600: #b4b4b4;
  --color-gray-700: #909090;
  --color-gray-800: #6c6c6c;
  --color-gray-900: #484848;
  --color-gray-950: #2b2b2b;

  --color-primary-50: #f1f2ff;
  --color-primary-100: #e6e8ff;
  --color-primary-200: #d0d5ff;
  --color-primary-300: #abb1ff;
  --color-primary-400: #7b7eff;
  --color-primary-500: #4d46ff;
  --color-primary-600: #3421ff;
  --color-primary-700: #250ff2;
  --color-primary-800: #1e0ccb;
  --color-primary-900: #1b0ca6;
  --color-primary-950: #14087d;
  --color-primary-1000: #080355;

  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-warning-950: #6b2508;

  --color-danger-50: #fee4e2;
  --color-danger-100: #fee4e2;
  --color-danger-200: #fecdca;
  --color-danger-300: #fda29b;
  --color-danger-400: #f97066;
  --color-danger-500: #f04438;
  --color-danger-600: #d92d20;
  --color-danger-700: #b42318;
  --color-danger-800: #912018;
  --color-danger-900: #7a271a;
  --color-danger-950: #66180c;

  --color-success-50: #e5ffe8;
  --color-success-100: #cefbd4;
  --color-success-200: #9ef7b3;
  --color-success-300: #6be995;
  --color-success-400: #44d382;
  --color-success-500: #12b76a;
  --color-success-600: #0d9d68;
  --color-success-700: #098363;
  --color-success-800: #056a59;
  --color-success-900: #035752;
  --color-success-950: #034c48;

  --color-info-50: #e6fbff;
  --color-info-100: #cdf8ff;
  --color-info-200: #9debff;
  --color-info-300: #6cd8ff;
  --color-info-400: #48c5ff;
  --color-info-500: #0ca2ff;
  --color-info-600: #077eda;
  --color-info-700: #065eb7;
  --color-info-800: #012f7a;
  --color-info-900: #022a6b;
  --color-info-950: #052b69;

  --color-orange-50: #fffbed;
  --color-orange-100: #fff7d4;
  --color-orange-200: #ffeba8;
  --color-orange-300: #ffda71;
  --color-orange-400: #ffbf38;
  --color-orange-500: #fda712;
  --color-orange-600: #f79009;
  --color-orange-700: #c56a09;
  --color-orange-800: #9d530f;
  --color-orange-900: #7e4510;
  --color-orange-950: #442106;

  --color-purple-50: #eeefff;
  --color-purple-100: #e0e2ff;
  --color-purple-200: #c8c9fd;
  --color-purple-300: #a6a6fb;
  --color-purple-400: #8c82f7;
  --color-purple-500: #7761ef;
  --color-purple-600: #6c48e3;
  --color-purple-700: #5d3ac8;
  --color-purple-800: #4c31a2;
  --color-purple-900: #402f80;
  --color-purple-950: #261c4a;
}

@utility scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-default {
  /* Firefox */
  scrollbar-width: auto;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: block;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.svg-border-anim {
  stroke-dasharray: 30 70;
}

/* modal animation */

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-scale-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modal-scale-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-modal-fade-out {
  animation: modal-fade-out 0.2s ease-in forwards;
}

.animate-modal-scale-out {
  animation: modal-scale-out 0.2s ease-in forwards;
}

.animate-modal-fade-in {
  animation: modal-fade-in 0.2s ease-out;
}

.animate-modal-scale-in {
  animation: modal-scale-in 0.2s ease-out;
}
